.figure img {
  display: block;
  margin-left: auto;
  margin-right: auto; }
.figure .caption {
  text-align: center;
  font-style: italic; }

.text-ok {
  color: #6AE54F; }

h1 {
  color: #00718D; }

h3 {
  color: #00ADEF; }

h4 {
  color: gray; }

.p404 {
  font-size: 128px; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.navbar-brand, .navbar-nav li a {
  height: 110px; }

.navbar-nav li a {
  padding-top: 70px;
  font-size: 16px; }
  .navbar-nav li a .flag {
    height: 28px; }
.navbar-nav #about li a {
  height: 45px;
  font-size: 16px;
  padding-top: 10px; }

.navright {
  padding-right: 20px; }

.logo {
  padding-top: 40px;
  padding-bottom: 10px; }
  .logo div {
    height: 150px; }
    .logo div a {
      margin: auto;
      vertical-align: middle; }
      .logo div a img {
        display: inline-block;
        margin: auto; }

.share-page {
  margin-top: 20px; }
  .share-page .btn {
    color: #FFF;
    font-size: 16px; }
  .share-page .btn-twitter {
    background-color: #55ACEE;
    border-color: rgba(0, 0, 0, 0.2); }
  .share-page .btn-google {
    background-color: #DD4B39;
    border-color: rgba(0, 0, 0, 0.2); }
  .share-page .btn-facebook {
    background-color: #3B5998;
    border-color: rgba(0, 0, 0, 0.2); }
  .share-page .btn-linkedin {
    background-color: #007BB6;
    border-color: rgba(0, 0, 0, 0.2); }
  .share-page .btn-github {
    background-color: #444;
    border-color: rgba(0, 0, 0, 0.2); }
  .share-page .btn-reddit {
    color: #000;
    background-color: #EFF7FF;
    border-color: rgba(0, 0, 0, 0.2); }

#blog article {
  padding: 50px; }
  #blog article .date {
    display: inline-block;
    color: #999999; }

#home .row {
  padding: 80px 0; }
  #home .row.greyed {
    background-color: #effbff; }
  #home .row .row.languages {
    padding: 0; }
    #home .row .row.languages div {
      line-height: 48px; }
      #home .row .row.languages div img {
        width: 48px; }
  #home .row #features-block table {
    max-width: 500px;
    margin: auto; }

#home .row.downloads {
  padding: 25px 0; }

.doc-content {
  counter-reset: H3; }
  .doc-content h3:before {
    content: counter(H3) ". ";
    /* Print the H1 number */
    counter-increment: H3;
    /* Add 1 to next H1 */ }
  .doc-content h3 {
    counter-reset: H4; }
  .doc-content h4:before {
    content: counter(H3) "." counter(H4) " ";
    counter-increment: H4; }
  .doc-content h4 {
    counter-reset: H5; }
  .doc-content h5:before {
    content: counter(H3) "." counter(H4) "." counter(H5) " ";
    counter-increment: H5; }
  .doc-content #markdown-toc {
    background-color: #F5F5F5;
    padding: 25px;
    border: 1px solid #CCCCCC;
    border-radius: 4px; }
  .doc-content h3, .doc-content h4, .doc-content h5 {
    padding-top: 20px; }

footer {
  background-color: #00718d;
  color: #d9d9d9;
  /* Set the fixed height of the footer here */ }
  footer h3, footer h4, footer h5, footer h6 {
    color: white; }
  footer a {
    color: #d9d9d9; }
    footer a:visited {
      color: #d9d9d9; }
  footer #copyright {
    color: #a6a6a6; }

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */ }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -160px;
  /* Pad bottom by footer height */
  padding: 0 0 160px; }
