---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$brand-primary: #00718D;
$brand-secondary: #00ADEF;
$ok-color:        #6AE54F;
$code-background: #F5F5F5;
$code-border: #CCCCCC;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.text-ok {
  color: $ok-color;
}

h1 {
  color: $brand-primary;
}

h3 {
  color: $brand-secondary;
}

h4 {
  color: lighten(black, 50%);
}

.p404 {
  font-size: 128px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
//        "base",
//        "layout",
        "syntax-highlighting",
        "navbar-custom-height",
        "logo",
        "home",
        "documentation",
        "sticky-footer"
;
