<div class="row text-center inner-row">
<div class="col-sm-4">
  <a class="btn btn-default"
    href="{{site.termsuite.ui.bintray}}{{site.termsuite.ui.windows}}"
    target="blank" role="button">
    <img src="/img/os/windows.png" alt="Windows" title="{% t global.download_gui.windows %}" width=50>
  </a>
</div>
<div class="col-sm-4">
  <a class="btn btn-default"
    href="{{site.termsuite.ui.bintray}}{{site.termsuite.ui.macos}}"
    target="blank" role="button">
    <img src="/img/os/mac.png" alt="Mac OS X" title="{% t global.download_gui.macos %}" width=50>
  </a>
</div>
<div class="col-sm-4">
  <a class="btn btn-default"
    href="{{site.termsuite.ui.bintray}}{{site.termsuite.ui.linux}}"
    target="blank" role="button" title="{% t global.download_gui.linux %}">
    <img src="/img/os/linux.png" alt="Linux" width=50>
  </a>
</div>
</div>
