<footer>
<hr />
<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <h4>About</h4>
      <p>{{ site.description }}</p>
      <p class="text-muted">© University of Nantes 2015</p>

    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <h4>Contact</h4>
      <ul>
        {% for a in site.data.authors %}
          <li>{{a | markdownify}}</li>
        {% endfor %}

      </ul>
      {{ site.email }}
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <h4>Links</h4>
      <ul>
        <li>Github</li>
        <li>Github Issues</li>
        <li>Travis</li>
      </ul>
    </div>
  </div>
</footer>
