<a href="{{site.github}}">
  <img
    style="position: absolute; top: 0; left: 0; border: 0;z-index: 2;"
    title="{%t global.fork_termsuite_on_github %}"
    src="/img/forkme.png"
    alt="{%t global.fork_termsuite_on_github %}"></a>

<header>

  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">{%t global.toggle_nav %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <img alt="Brand" height="87" src="{{ site.baseurl_root }}/img/logo-termsuite-txt.png">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="{% if "/getting-started/" == page.permalink %}active{% endif %}"><a href="/getting-started">{%t global.getting_started %}</a></li>
          <li class="{% if '/getting-started/' != page.permalink and page.layout == 'documentation' %}active{% endif %}"><a href="/documentation/introduction/" >{%t global.documentation %}</a></li>
          <li id="about" class="dropdown">
            <a href="/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/changelog">{%t global.changelog %}</a></li>
              <li><a href="/contact">{%t global.contact %}</a></li>
              <li><a href="/documentation/support">{%t global.support %}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{site.github}}" target="blank">{%t global.view_on_github %}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/about">{%t global.about_termsuite %}</a></li>
              <li><a href="/blog">{%t global.blog %}</a></li>
            </ul>
          </li>
        </ul>
        <ul  class="nav navbar-nav navbar-right">
            <li class="{% if "en" == site.lang %}active{% endif %}" ><a href="{{site.baseurl_root}}{{ page.url }}" >
            <img class="flag" src="/img/flags/United-Kingdom.png" alt="English" title="Visit site in english">
            </a></li>
            <li class="{% if "fr" == site.lang %}active{% endif %}" ><a href="{{site.baseurl_root}}/fr{{ page.url }}" >
            <img class="flag" src="/img/flags/France.png" alt="Français" title="Visiter le site en français">
            </a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


</header>
