

<div class="row logo">
  <div class="col-md-3 text-center">
    <a href="http://www.cnrs.fr/">
      <img title="CNRS" alt="CNRS" width="150" src="/img/cnrs.png" target="blank">
    </a>
  </div>

  <div class="col-md-3 text-center">
    <a href="http://www.univ-nantes.fr/">
      <img title="University of Nantes" width="200" alt="University of Nantes" src="/img/univ-nantes.svg" target="blank">
    </a>
  </div>

  <div class="col-md-3 text-center">
    <a href="http://www.istex.fr/le-projet/">
      <img title="ISTEX" alt="ISTEX" width="200" src="/img/istex.png" target="blank">
    </a>
  </div>

  <div class="col-md-3 text-center">
    <a href="http://www.lina.univ-nantes.fr/">
      <img title="LINA" alt="LINA" width="200" src="/img/lina.png" target="blank">
    </a>
  </div>
</div>
