

#docmenu {
  padding: 0px;

  .panel {
    margin: 0px;
  }

  .panel-heading.active {
    background: $brand-primary;
    color: lighten($brand-secondary, 50%);
    font-weight: bold;
  }
  .docitem {
    margin: 10px 0px;

    & .active {
      font-weight: bold;
    }
  }

}

.doc-content {
  counter-reset: H3;

  h3:before {
    content: counter(H3) ". "; 	/* Print the H1 number */
    counter-increment: H3; 	/* Add 1 to next H1 */
  }
  h3 { counter-reset: H4; }
  h4:before {
    content: counter(H3) "." counter(H4) " ";
    counter-increment: H4;
  }
  h4 { counter-reset: H5; }
  h5:before {
    content: counter(H3) "." counter(H4) "." counter(H5) " ";
    counter-increment:H5;
  }

  #markdown-toc {
    background-color: $code-background;
    padding: 25px;
    border: 1px solid $code-border;
    border-radius: 4px;
  }

  h3, h4, h5 {
    padding-top: 20px;
  }
}
