
#home .row {
  padding: 80px 0;

  &.greyed {
    background-color: lighten($brand-secondary, 50%);
  }

  .row.languages {
      padding: 0;
      div {
        line-height: 48px;
        img {
          width: 48px;
        }
      }
  }

  #features-block {
    table {
      max-width: 500px;
      margin: auto;
    }
  }
}

#home .row.downloads {
  padding: 25px 0;
}
