.logo {
  padding-top: 40px;
  padding-bottom: 10px;
  div {
    height: 150px;
    a {
      margin: auto;
      img {
        display: inline-block;
        margin: auto;
      }
      vertical-align: middle;
    }  
  }
}
