
.navbar-brand, .navbar-nav li a {
  height: 110px;
}
.navbar-nav {
  li a {
    padding-top:70px;
    font-size: 16px;
    .flag {
      height: 28px;

    }
  }
  #about {
     li a {
       height: 45px;
       font-size: 16px;
       padding-top:10px;
     }
  }
}
.navright {
  padding-right: 20px;
}
