---
layout: default
---
<div class="container">

  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <header class="page-header">
      <h1>Documentation <small>{{page.title}}</small></h1>
    </header>
    {% include share.html %}
  </div>
  <div class="row">
    <div class="list-group col-md-3">

        {% for doc in site.documentation %}
          {% if doc.status != 'draft' %}
            <a title="{{doc.title}}"
            class="list-group-item {% if doc.url == page.url %}active{% endif %}"
            href="{{site.baseurl}}{{ doc.url }}">
              {% t doc.menu %}
            </a>
          {% endif %}
        {% endfor %}
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-8">

      <article class="doc-content">
        {{ content }}
      </article>
    </div>
  </div>

</div>
