---
layout: default
---
<div class="container">

  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <header class="page-header">
      <h1>{% t global.documentation %} <small>{%t page.title %}</small></h1>
    </header>
    {% include share.html %}
  </div>
  <div class="row">
    <div id="docmenu" class="col-md-3">

      {% for menu in site.data.menu %}
        {% capture menukey %}menu-title.{{ menu }}{% endcapture %}
        {% assign docs = site.documentation | where_exp: "status", "status != 'draft'" | where: "menu", menu | sort : 'order' | uniq %}

          {% if docs.size > 0 %}
            {%  assign current_page = docs | where: "url", page.url %}
              <div class="panel panel-default">
                <div class="panel-heading {% if current_page.size > 0 %}active{% endif %}" role="tab" id="heading{{forloop.index}}">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.index}}" aria-expanded="true" aria-controls="collapseOne">
                      {% t menukey %}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{forloop.index}}" class="panel-collapse collapse {% if current_page.size > 0 %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{forloop.index}}">
                  <div class="panel-body">
                    {% for doc in docs %}
                      {% if forloop.index >= 2  %}<hr /> {% endif %}
                      <div class="docitem">
                        <a title="{{doc.title}}"
                            class="{% if doc.url == page.url %}active{% endif %}"
                            href="{{site.baseurl}}{{ doc.url }}">
                          {% t doc.menu_title %}
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

          {% endif %}

      {% endfor %}
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-8">

      <article class="doc-content">
        {{ content }}
      </article>
    </div>
  </div>

</div>
