---
layout: default
---
<div class="container ">
  <div class="col-sm-2" ></div>
  <div class="col-sm-8" >
    {% include share.html %}

    <header class="page-header">
      <h1>Blog <small>{{page.title}}</small></h1>

      <p class="date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>


    <article  >
      {{ content }}
    </article>
    {% include share.html %}

  </div>

  <div class="col-sm-2" ></div>


</div>
